@import url('https://use.typekit.net/coy4smc.css');


*
html
body
  font-family futura-pt, sans-serif;


.h-16
  height 4rem

a
  text-decoration none
  color #262626

  &:hover
    color #262626
    text-decoration none